{% extends 'base.html' %}
{% block content %}
    <main id="login">
        <div class="container">
            <div class="page-login">
                <div class="form-login ">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-brand box-show-btn width-100 btn-account "> ارسال
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}