{% extends 'base.html' %}
{% block body %}
    <div class="row">
        <div class="container">
            {% for category in categories %}
                <!-- Example split danger button -->
                <div class="btn-group">
                    <a href="{% url 'product:category' slug=category.slug %}"
                       class="btn btn-danger">{{ category.name }}</a>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        {% for i in category.scategory.all %}
                            <a class="dropdown-item" href="{% url 'product:category' slug=i.slug %}">{{ i.name }}</a>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="container">
            {% for product in product %}
                <div class="card" style="width: 18rem;display: inline-block">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <a href="{% url 'product:product_detail' slug=product.slug %}"
                           class="">{{ product.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}